<section>
  <br/>
  <a href="https://twitter.com/dudarev" class="webicon twitter">Twitter</a>
  <a href="https://www.facebook.com/dudarev" class="webicon facebook">Facebook</a>
  <a href="https://plus.google.com/108114175145093679567/posts" class="webicon googleplus">Google+</a>
  <a href="https://foursquare.com/dudarev_ru" class="webicon foursquare">Foursquare</a>
  <a href="http://instagram.com/artdud" class="webicon instagram">Instagram</a>
  <a href="http://www.youtube.com/artemdudarev" class="webicon youtube">Youtube</a>
  <a href="https://github.com/dudarev" class="webicon github">Github</a>
</section>
