// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$header-bg: #000000;
$subtitle-color: lighten($header-bg, 58);
$nav-bg: desaturate(lighten(#ff7100, 18), 5);
$sidebar-bg: desaturate(#eceff5, 8);
$sidebar-link-color: saturate(#526f9a, 10);
$sidebar-link-color-hover: darken(#7ab662, 9);


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
// $base03:    #002b36;
// $base02:    #073642;
// $base01:    #586e75;
// $base00:    #657b83;
// $base0:     #839496;
// $base1:     #93a1a1;
// $base2:     #eee8d5;
// $base3:     #fdf6e3;
// $yellow:    #b58900;
// $orange:    #cb4b16;
// $red:       #d30102;
// $magenta:   #d33682;
// $violet:    #6c71c4;
// $blue:      #268bd2;
// $cyan:      #2aa198;
// $green:     #859900;

/* Non highlighted code colors */
// $pre-bg: $base03;
// $pre-border: darken($base02, 5);
// $pre-color: $base1;
