// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article {
  img, video, .flash-video{
    max-width: 100%;
    height: auto;
    border: .5em solid #fff;
    @include border-radius(.3em);
    @include box-shadow(rgba(#000, .15) 0 1px 4px);
    @include box-sizing(border-box);
    display: block;
    margin: 0 auto 1.5em;
  }
  img {
    &.left { float: left; margin-right: 1.5em; }
    &.right { float: right; margin-left: 1.5em; }
    &.left, &.right { margin-bottom: .8em; }
    &.with-caption { margin-bottom: 0.5em; }
  }
  figcaption {
      font-size: 0.85em;
      margin: 0 auto 1.5em;
      text-align: center;
      @extend .sans;
      width: 100%;
      @media only screen and (min-width: 768px) {
          width: 50%;
      }
  }
}
